@model IEnumerable<OyingboBloodBank.Models.BloodGroup>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BloodType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CanGiveTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CanRecieveFrom) 
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BloodType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CanGiveTo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CanRecieveFrom)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BloodTypeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BloodTypeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BloodTypeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
